{# social image #}
{% set socialImg = '' %}
{% if title|length %}
  {%- set socialImg %}{{ global.url }}/social-img/{{ title | slug }}.png{% endset-%}
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "TechArticle",
  "proficiencyLevel": "Beginner",
  "author": "Giulia Chiola",
  "datePublished": "{{ date }}",
  "headline": "{{ title }}",
  "abstract": "{{ abstract }}",
  "dateModified": "{{ page.date }}",
  "image": "{{ socialImg }}"
}
</script>

<article class="c-article-section l-spacing-l {% if isCustomPost %}c-article-section--custom{% endif %}">
  <h1>{{ title }}</h1>

  <div class="c-article-section__top l-spacing-m">
    <div class="c-article-section__info">
      {# date #}
      {% if not isCustomPost %}
        <time class="c-article-section__date" datetime="{{ date | htmlDateString }}">{{ date | htmlDateString('human-readable') }}</time>
      {% endif %}
      {# reading time #}
      {% if not isCustomPost %}
        <p class="c-article-section__reading-time">{{ content | readingTime }} read</p>
      {% endif %}

      {# tags #}
      <ul class="c-article-section__tags">
        {%- for tag in tags %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <li class="c-article-section__tag">
            <a href="{{ tagUrl | url }}" class="c-label">{{ tag | removeDashes }}</a>
          </li>
        {%- endfor %}
      </ul>
    </div>

    {% if not isCustomPost %}
      <div class="c-article-section__share">
        <a
          href="https://twitter.com/share?ref_src=twsrc%5Etfw"
          class="twitter-share-button"
          data-show-count="false"
          data-text="{{ title or renderData.title | striptags }} 🚀"
          data-via="giulia_chiola">
          Tweet
          </a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    {% endif %}
  </div>

  {# content #}
  {% if content | toc | safe | length %}
    <aside>
      <details class="c-article-section__toc">
          <summary><span>📚</span>Table of contents</summary>
          {{ content | toc | safe }}
      </details>
    </aside>
  {% endif %}

  <div class="c-article-section__content">
    {{ content | safe }}
  </div>

  {# bottom #}
  {% if not isCustomPost %}
    <div class="c-article-section__bottom">
      {# last updated date #}
      {% if page.date !== date %}
        <footer class="c-article-section__date">Last updated <time datetime="page.date">{{ page.date | htmlDateString('human-readable') }}</time></footer>
      {% endif %}

      {# tags #}
      <ul class="c-article-section__tags">
        {%- for tag in tags %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <li class="c-article-section__tag">
          <a href="{{ tagUrl | url }}" class="c-label">{{ tag | removeDashes }}</a>
        </li>
        {%- endfor %}
      </ul>

      {% set randomTil = collections.post | random %}
      <div class="o-distributed o-distributed--center l-spacing-l">
        <a class="c-button" href="{{ randomTil.url | url }}">Take me to another post!</a>
      </div>
    </div>
  {% endif %}
</article>
