<article class="c-article-section l-spacing-l {% if isCustomPost %}c-article-section--custom{% endif %}">
  <h1>{{ title }}</h1>

  <div class="c-article-section__top l-spacing-m">
    <div class="c-article-section__info">
      {# date #}
      {% if date %}
        <time class="c-article-section__date" datetime="{{ date }}">{{ date.toDateString() }}</time>
      {% endif %}

      {# tags #}
      {%- for tag in tags %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="c-label">{{ tag }}</a>
      {%- endfor %}
    </div>

    {% if not isCustomPost %}
      <div class="c-article-section__share">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    {% endif %}
  </div>

  {# content #}
  <div class="c-article-section__content">
    {{ content | safe }}
  </div>

  {# bottom #}
  <div class="c-article-section__bottom">
    {# tags #}
    {%- for tag in tags %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="c-label">{{ tag }}</a>
    {%- endfor %}

    {% if not isCustomPost %}
      {% set tilPosts = [] %}
      {% for entriesAllCategories in collections.categories %}
        {% if (entriesAllCategories.data.category === 'til') or (entriesAllCategories.data.category === 'blog') %}
          {% set tilPosts = (tilPosts.push(entriesAllCategories), tilPosts) %}
        {% endif %}
      {% endfor %}

      {% set randomTil = tilPosts | random %}
      <div class="o-distributed o-distributed--center l-spacing-l">
        <a class="c-button" href="{{ randomTil.url | url }}">Take me to another post!</a>
      </div>
    {% endif %}
  </div>
</article>
