{# social image #}
{% set socialImg = '' %}
{% if title|length %}
  {%- set socialImg %}{{ global.siteUrl }}/social-img/{{ title | slug }}.png{% endset-%}
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "TechArticle",
  "proficiencyLevel": "Beginner",
  "author": "Giulia Chiola",
  "datePublished": "{{ date }}",
  "headline": "{{ title }}",
  "abstract": "{{ abstract }}",
  "dateModified": "{{ page.date }}",
  "image": "{{ socialImg }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url }}"
  }
}
</script>

<article class="c-article-section l-spacing-l {% if isCustomPost %}c-article-section--custom{% endif %}">
  <h1>{% if category == 'projects' %}[Project] {% endif%}{{ title }}</h1>

  <div class="c-article-section__top l-spacing-s">

    {% if not isCustomPost %}
    {# info (date & reading time) #}
    <p class="c-article-section__info">
      {# date #}
      <time class="c-article-section__date" datetime="{{ date | htmlDateString }}">{{ date | htmlDateString('human-readable') }}</time>
      {# reading time #}
      <span class="c-article-section__reading-time">{{ content | readingTime }} read</span>
    </p>

    {# tags #}
    {% if tags %}
    <ul class="c-article-section__tags">
      {%- for tag in tags|removeFromArray('post') %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <li class="c-article-section__tag">
          <a href="{{ tagUrl | url }}" class="c-label">{{ tag | removeDashes }}</a>
        </li>
      {%- endfor %}
    </ul>
    {% endif %}
  </div>

  {# toc + twitter button #}
  <aside class="c-article-section__toc-share">
    {# twitter share #}
    <div class="c-article-section__share">
      <a
        href="https://twitter.com/share?ref_src=twsrc%5Etfw"
        class="twitter-share-button"
        data-show-count="false"
        data-text="{{ title or renderData.title | striptags }} 🚀"
        data-via="giulia_chiola">
        Tweet
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    {% endif %}

    {# table of contents #}
    {% if not isCustomPost %}
    {% include '_includes/layouts/partials/article-section-toc.njk' %}
    {% endif %}
  </aside>

  {% set showProgressBar = not isCustomPost and content | readingTime | timeReadingToNumber >  1 %}
  {% if showProgressBar %}
  <div class="c-reading-progress j-reading-progress"><span class="c-reading-progress__value j-reading-progress__value"></span></div>
  {% endif %}

  {# article content #}
  <div class="c-article-section__content {% if showProgressBar %}j-article-section__content{% endif %}">
    {{ content | safe }}
  </div>

  {# bottom #}
  {% if not isCustomPost %}
    <div class="c-article-section__bottom">
      {# last updated date #}
      {% if lastUpdatedDate %}
        <footer class="c-article-section__date">Last updated <time datetime="lastUpdatedDate">{{ lastUpdatedDate | htmlDateString('human-readable') }}</time></footer>
      {% endif %}

      <div class="c-article-section__bottom-links">
        {# edit on GitHub #}
        {% set inputPath = inputPath|replace('./super-blog-content/', '') %}
        <span>View on&nbsp;<a class="u-link-remove-underline" href="https://github.com/giuliachiola/super-blog-content/blob/master/{{ inputPath | replace('content/', '') }}" target="_blank" rel="noopener"><abbr title="Found a typo? Open an MR on GitHub">GitHub</abbr></a></span>
        {# comment #}
        {% if crossPostDEV and crossPostHashnode %}
        <p>
          Comment on
          <a href="{{ crossPostDEV }}" target="_blank" rel="noopener">DEV.to</a>
          or
          <a href="{{ crossPostHashnode }}" target="_blank" rel="noopener">Hashnode</a>
        </p>
        {% endif %}
      </div>

      {# tags #}
      {% if tags %}
      <ul class="c-article-section__tags l-spacing-m">
        {%- for tag in tags|removeFromArray('post') %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <li class="c-article-section__tag">
          <a href="{{ tagUrl | url }}" class="c-label">{{ tag | removeDashes }}</a>
        </li>
        {%- endfor %}
      </ul>
      {% endif %}

      {% set nextPost = collections.post | getNextCollectionItem(page) %}
      {% if nextPost.url %}
        {# go to the next post #}
        {% set goToPost = nextPost %}
      {% else %}
        {# go to the first post #}
        {% set goToPost = collections.post|first %}
      {% endif %}

      {% if category !== 'projects' %}
      <div class="s-next-post-button o-distributed o-distributed--center l-spacing-l">
        <a class="c-button" href="{{ goToPost.url | url }}">Take me to the next post!</a>
      </div>
      {% endif %}

    </div>
  {% endif %}
</article>
