<main class="l-main">
  {# filters #}
  <div class="l-spacing-m">
    {%- include "_includes/layouts/partials/filters.njk" %}
  </div>
  {# items #}
  <div class="l-spacing-l">
    <div {% if categoryFilter == 'blog' or mainLayout === 'grid' %}class="o-cards-grid"{% endif%}>

      {%- for entry in list | reverse %}

        {# categories #}
        {% if entry.data.category == categoryFilter or isPageTag %}
          {# card settings #}
          {% if categoryFilter == 'blog' or isPageTag %}
            {% set card = { data: entry.data, modifiers: ['squared-image'], hasImg: true } %}
          {% elif categoryFilter == 'projects' %}
            {% set card = { data: entry.data, modifiers: ['highlight-left'], isExpanded: true } %}
          {% elif categoryFilter == 'til' %}
            {% set card = { data: entry.data, modifiers: ['highlight-top'], isExpanded: true, number: loop.revindex } %}
          {% elif categoryFilter == 'usefulresources' %}
            {% set card = { data: entry.data, modifiers: ['highlight-left'], isExpanded: true } %}
          {% endif %}

          {# card #}
          {% if categoryFilter !== 'blog' and mainLayout !== 'grid' %}
            <div class="l-spacing-m">
          {% endif %}
          {% include '_includes/layouts/partials/card.njk' %}
          {% if categoryFilter !== 'blog' and mainLayout !== 'grid' %}
            </div>
          {% endif %}
        {% endif %}
      {%- endfor %}
    </div>
  </div>
</main>
