{%- for entry in list | reverse -%}
  {# card settings #}
  {% if categoryFilter == 'tutorials' %}
    {# tutorials #}
    {% set card = { data: entry.data, modifiers: ['squared-image'], hasImg: true } %}
  {% elif isPageTag %}
    {# tags #}
    {% set card = { data: entry.data, spacingClass: 'l-spacing-m', modifiers: ['squared-image', 'horizontal'], hasImg: true } %}
  {% elif categoryFilter == 'projects' %}
    {# projects #}
    {% set card = { data: entry.data, spacingClass: 'l-spacing-m', modifiers: ['highlight-left'], isExpanded: true } %}
  {% elif categoryFilter == 'til' %}
    {# til #}
    {% set card = { data: entry.data, spacingClass: 'l-spacing-m', modifiers: ['highlight-top'], isExpanded: true, number: loop.revindex } %}
  {% endif %}

  {# card #}
  {% include '_includes/layouts/partials/card.njk' %}
{%- endfor -%}
