{% set mainTag = '' %}
{% if card.data.mainTag %}
  {# at the moment there is any custom CSS for main tag modifiers (ex. c-card--git) #}
  {# {% set mainTag = 'c-card--' + card.data.mainTag %} #}
{% endif %}

{% set modifiers = '' %}
{% if card.modifiers %}
  {% for mod in card.modifiers %}
    {% set modifiers = modifiers + ' c-card--'+mod %}
  {% endfor %}
{% endif %}

{% set date = card.data.date or page.date %}

{# social image #}
{# {% set socialImg = '' %}
{% if title|length %}
  {%- set socialImg %}{{ global.siteUrl }}/social-img/{{ title | slug }}.png{% endset-%}
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "TechArticle",
  "proficiencyLevel": "Beginner",
  "author": "Giulia Chiola",
  "datePublished": "{{ date }}",
  "headline": "{{ card.data.title }}",
  "abstract": "{{ card.data.abstract }}",
  "dateModified": "{{ card.data.date }}",
  "image": "{{ socialImg }}"
}
</script> #}

<article class="c-card {{ modifiers }} {{ mainTag }} {% if card.spacingClass %}{{ card.spacingClass }}{% endif %}" itemscope>
  {% if card.hasImg and card.data.mainTag %}
    <div class="c-card__img-wrapper">
      {# check if SVG exists, otherwise 11ty build explodes! #}
      {% if card.data.mainTag in ['css', 'design-system', 'git', 'github', 'gitlab', 'js', 'mac-os', 'markdown', 'nodejs', 'static-site-generator', 'svg', 'template-engine', 'shell', 'vuejs', 'vsc'] %}
        {% include global.svgoPath + card.data.mainTag + '.svg' %}
      {% else %}
        {% include global.svgoPath + 'reindeer.svg' %}
      {% endif %}
    </div>
  {% endif %}
  <div class="c-card__content">
    {% if card.number %}
    <span class="c-card__number">#{{ card.number }}</span>
    {% endif %}
    {# title and link #}
    {% if card.data.externalUrl %}
      {% set cardUrl = card.data.externalUrl %}
    {% else %}
      {% set cardUrl = entry.url | url %}
    {% endif %}
    <a class="c-card__title" href="{{ cardUrl }}" {% if card.data.externalUrl %}target="_blank" rel="noopener"{% endif %}>
      <h2 class="c-card__title-heading">{{ card.data.title }}</h2>
    </a>

    {# abstract #}
    {% if not card.isExpanded %}
      <p class="c-card__abstract">{{ card.data.abstract }}</p>
    {% endif %}

    {# content #}
    {% if card.isExpanded %}
      <div class="c-card__raw-content">
        {{ entry.templateContent | safe }}
      </div>
    {% endif %}

    {# bottom info #}
    <div class="c-card__bottom">
      <time class="c-card__date" datetime="{{ date | htmlDateString }}">{{ date | htmlDateString('human-readable') }}</time>
      <div class="c-card__tags">
        {% for tag in card.data.tags|removeFromArray('post') %}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="c-label">{{ tag | removeDashes }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</article>
