<fieldset class="c-filter">
  <legend class="c-filter__legend">Filter by:</legend>
  {% for tag in collections.tagsArr %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="c-label">{{ tag }}</a>
  {% endfor %}
</fieldset>

