{% set navPages = collections.all | eleventyNavigation %}

<header class="c-header">
  <nav class="c-header__nav l-main">
    <input class="c-header__toggle" type="checkbox" name="checkbox" id="checkbox_id" value="value"/>
    <label class="c-header__hamburger" for="checkbox_id"></label>
    <ul class="c-header__list">
      {%- for entry in navPages %}
        <li class="c-header__item">
          <a class="c-header__link {% if entry.title in page.url %}is-current-section{% endif %}" href="{{ entry.url | url }}"{% if entry.url == page.url %} data-state="active"{% endif %}>{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
</header>
