{% set modifiers = '' %}
{% if modifiers %}
  {% for mod in modifiers %}
    {% set modifiers = modifiers + ' c-hero--'+mod %}
  {% endfor %}
{% endif %}

{% if img %}
  {% set modifiers = modifiers + ' c-hero--bg-img' %}
{% else %}
  {% set modifiers = modifiers + ' c-hero--'+mainTag %}
{% endif %}

<section class="c-hero {{ modifiers }}">
  <img class="c-hero__img" src="{{ img }}" alt="">
    <div class="l-main">
      {% set heroTitle = renderData.title or title %}
      {% if quote %}
        {% set heroTitle = quote %}
      {% endif %}
      <h1>{{ heroTitle | safe }}</h1>
      {% set heroSubtitle = subtitle %}
      {% if quoteAuthor %}
        {% set heroSubtitle = quoteAuthor %}
      {% endif %}
      <h2 class="c-hero__subtitle">{{ heroSubtitle }}</h2>
    </div>
    {% if imgAuthorName %}
      <span class="c-hero__credits">photo by <a href="{{ imgAuthorProfile }}" target="_blank">{{ imgAuthorName }}</a> on <a href="{{ img }}" target="_blank">Unsplash</a></span>
    {% endif %}
</section>
