{% set modifiers = '' %}
{% if modifiers %}
  {% for mod in modifiers %}
    {% set modifiers = modifiers + ' c-hero--'+mod %}
  {% endfor %}
{% endif %}

{% if img %}
  {% set modifiers = modifiers + ' c-hero--bg-img' %}
{# {% else %}
  {% set modifiers = modifiers + ' c-hero--'+mainTag %} #}
{% endif %}

<section class="c-hero {{ modifiers }} {% if quote %}c-hero--quote{% endif %}">
  {% if img %}
  <img class="c-hero__img" src="{{ img }}" alt="">
  {% endif %}
    <div class="l-main">
      {% set heroTitle = renderData.title or title %}
      {% if quote %}
        <h2 class="c-hero__quote">{{ quote | safe }}</h2>
      {% else %}
        <h1 class="c-hero__title">{{ heroTitle | safe }}</h1>
      {% endif %}
      {% set heroSubtitle = subtitle %}
      {% if quoteAuthor %}
        {% set heroSubtitle = quoteAuthor %}
      {% endif %}
      <h2 class="c-hero__subtitle">{{ heroSubtitle | safe }}</h2>
    </div>
    {% if imgAuthorName %}
      <span class="c-hero__credits">photo by <a href="{{ imgAuthorProfile }}" target="_blank" rel="noopener">{{ imgAuthorName }}</a> on <a href="{{ img }}" target="_blank" rel="noopener">Unsplash</a></span>
    {% endif %}
</section>
