{% set items =  [
  {
    title: 'Blog',
    img: 'https://source.unsplash.com/WS5yjFjycNY',
    url: '/blog'
  },
  {
    title: 'Today I learned',
    img: 'https://source.unsplash.com/sfL_QOnmy00',
    url: '/til'
  },
  {
    title: 'Projects',
    img: 'https://source.unsplash.com/oAPv2AoMmCU',
    url: '/projects'
  },
  {
    title: 'Useful resources',
    subtitle: '',
    img: 'https://source.unsplash.com/023T4jyCRqA',
    url: '/useful-resources'
  }
]
%}

{# Note: nunjucks array does not support trailing commas #}

<div class="c-photogrid">
  {% for item in items %}
    <a class="c-photogrid__item" href="{{ item.url }}">
      <img class="c-photogrid__img" src="{{ item.img }}" alt="">
      <h2 class="c-photogrid__title">{{ item.title }}</h2>
    </a>
  {% endfor %}
</div>
