[submodule "super-blog-content"]
	path = super-blog-content
	url = git@gitlab-GMAIL:giuliach/super-blog-content.git
[submodule "super-styleguide"]
	path = super-styleguide
	url = git@gitlab-GMAIL:giuliach/super-styleguide.git
