[submodule "super-blog-content"]
	path = super-blog-content
	url = git@github.com:giuliachiola/super-blog-content.git
[submodule "super-styleguide"]
	path = super-styleguide
	url = git@github.com:giuliachiola/super-styleguide.git
