[submodule "super-blog-content"]
	path = super-blog-content
	url = https://github.com/giuliachiola/super-blog-content
[submodule "super-styleguide"]
	path = super-styleguide
	url =  https://github.com/giuliachiola/super-styleguide
