---
title: Search page
layout: layouts/base.njk
img: 'https://source.unsplash.com/-4uJ_qPU0_E'
imgAuthorProfile: 'https://unsplash.com/@landscapeplaces'
imgAuthorName: '@landscapeplaces'
---

{% block content %}

<main class="l-main">
  <form>
    <input type="text" value="">
    <input type="button" value="Search">
  </form>

  <ul>
    {% for entry in collections.all %}
      {% if entry.data.category == 'blog' or entry.data.category == 'til' %}
        <li class="c-card c-card--condensed l-spacing-m">
          {% set card = { data: entry.data, modifiers: ['highlight-left'] } %}
          {# <a href="{{ entry.url | url }}">{{ entry.data.title }}</a> #}
          {% include '_includes/layouts/partials/card.njk' %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</main>

{% endblock %}
