---
title: Search post
subtitle: I hope you will find what you are looking for!
layout: layouts/base.njk
paletteColor: 3

eleventyNavigation:
  key: search
  order: 3
---

{% block content %}

<main id="main" class="l-main l-spacing-l">
  <form class="c-form o-distributed o-distributed--center l-spacing-l l-spacing-top-m">
    <label class="c-form__label" for="search_id">Search...</label>
    <input class="c-form__input j-search__input" type="search" value="" id="search_id" placeholder="Search...">
  </form>

  <ul class="s-search-list">
    {% for entry in collections.post | reverse %}
      <li class="j-search__item">
        {% set card = { data: entry.data, spacingClass: 'l-spacing-m', modifiers: ['squared-image', 'horizontal'], hasImg: true } %}
        {% include '_includes/layouts/partials/card.njk' %}
      </li>
    {% endfor %}
  </ul>

  <h2 class="j-search__no-results u-hidden">Oh no!<br>There are no awesome posts with this keyword 💔</h2>

  <a href="{{ global.siteUrl | url }}/table-of-contents">Go to the table of contents page.</a>
</main>

{% endblock %}
