---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  <url>
    <loc>{{ global.siteUrl }}{{ page.url | url }}</loc>
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
    {# change frequency #}
    {%- set changeFreq = 'monthly' -%}
    {%- if page.data.changeFreq -%}
      {%- set changeFreq = page.data.changeFreq -%}
    {%- endif -%}
    <changefreq>{{ changeFreq }}</changefreq>
  </url>
{%- endfor %}
</urlset>
