---
layout: layouts/base.njk
mainTag: general-3
# img: 'https://source.unsplash.com/-4uJ_qPU0_E'
# imgAuthorProfile: 'https://unsplash.com/@landscapeplaces'
# imgAuthorName: '@landscapeplaces'
permalink: /tags/{{ tag }}/
pagination:
  data: collections
  size: 1
  alias: tag
renderData:
  title: 'Tagged posts<br> <span class="c-hero__title-custom">{{ tag }}</span>'
---

{% block content %}

{% set list = collections[ tag ] %}
{% set mainLayout = 'grid' %}
{% set isPageTag = true %}
{% include '_includes/layouts/partials/cards-grid.njk' %}

{% endblock %}
