---
title: Tag {{ tag }}
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
---

{% block content %}

{% set list = collections[ tag ] %}
{% set mainLayout = 'grid' %}
{% set isPageTag = true %}
{% include '_includes/layouts/partials/cards-grid.njk' %}

{% endblock %}
