---
permalink: js/js-bundle.js
eleventyExcludeFromCollections: true
---

{%- set jsBundle -%}
  {% include "../../js/main.js" %}
  {% include "../../js/scripts.js" %}
{%- endset -%}

{{ jsBundle | jsmin | safe }}
