---
permalink: ./pages.json
eleventyExcludeFromCollections: true
---
[
{%- for pages in collections.post %}
  {# item starts #}
  {
    "selectors": [
      {
        "selector": "#j-title",
        "content":"{% if pages.data.title %}{{ pages.data.title | addNbsp | safe }}{% else %}11ty Rocks{% endif %}"
      }
    ],
    "bodyClass": "t-palette--{{ pages.data.paletteColor }}",
    "imgName":"{{ pages.data.title | slug }}"
  }{% if loop.last == false %},{% endif -%}
  {# item ends #}
{% endfor %}
]
