---
permalink: ./pages.json
eleventyExcludeFromCollections: true
---
[
{%- for pages in collections.all -%}
  {
    "selectors": [
      {
        "selector": "#j-title",
        "content":"{% if pages.data.title %}{{ pages.data.title | addNbsp | safe }}{% else %}AWESOME TITLE{% endif %}"
      }
    ],
    "imgName":"{{ pages.data.title | slug }}"
  }{% if loop.last == false %},{% endif -%}
  {# item ends #}
{%- endfor -%}
]
