<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="l-wrapper">
      <!-- header -->
      <%- include('partials/header.ejs') %>
      <!-- hero -->
      <div class="l-spacing-m">
        <%- include('partials/hero.ejs') %>
      </div>
      <!-- content -->
      <%- content %>
      <!-- footer -->
      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
