<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="l-wrapper">
      {# header #}
      {% include 'layouts/partials/header.njk' %}
      {# hero #}
      <div class="l-spacing-m">
        {% include 'layouts/partials/hero.njk' %}
      </div>
      {# content #}
      {{ content | safe }}
      {# footer #}
      {% include 'layouts/partials/footer.njk' %}
    </div>
  </body>
</html>
