<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or renderData.title | striptags }}</title>
    {# twitter share #}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@giuliachiola" />
    <meta name="twitter:creator" content="@giuliachiola" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ abstract }}" />
    <meta name="twitter:image" content="/img/og-images/{{ mainTag }}.jpg" />
    <meta property="og:url" content="{{ entry.url | url }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ abstract }}" />
    <meta property="og:image" content="{{ img }}" />
    {# css #}
    <link rel="stylesheet" href="/css/prismjs-theme.css">
    <link rel="stylesheet" href="/css/gist-syntax-theme.css">
    {# css from styleguide repo #}
    <link rel="stylesheet" href="/super-styleguide/src/css/style.css">
    <link rel="stylesheet" href="/css/color-palette.css">
  </head>

  {% set color = [1,2,3,4,5] | random %}
  {% if paletteColor %}
    {% set color = paletteColor %}
  {% endif %}
  <body>
    <div class="l-wrapper t-palette-color--{{ color }}">
      {# header #}
      {% include 'layouts/partials/header.njk' %}

      {% if hasHomeContent %}
        {# home content #}
        {% include 'layouts/partials/photogrid.njk' %}
      {% else %}
        {# base content #}
        {% include './base-content.njk' %}
      {% endif %}

      {# footer #}
      {% include 'layouts/partials/footer.njk' %}
    </div>

    {# script #}
    <script src="/js/script.js"></script>
  </body>
</html>
