<!doctype html>
<html lang="en" class="no-js">
  <head>
    {# IMPORTANT: we have to check localStorage as soon as page loads to prevent flickering #}
    <script>
      const currentTheme = localStorage.getItem('theme') || 'light'
      document.documentElement.setAttribute('data-theme', currentTheme)
    </script>

    {# info #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or renderData.title | striptags }} | Giulia Chiola</title>
    {# search engine #}
    <meta name="robots" content="index,follow"><!-- All Search Engines -->
    {# archive #}
    <link rel="archives" href="{{ global.siteUrl | url }} + '/search'">
    {# theme color #}
    {% set lightenColors = [
      '#f37694',
      '#d7e5ff',
      '#adffe9',
      '#ace1ff',
      '#ffe3bd'
    ] %}
    {% set lightenColor = '' %}
    {% for item in lightenColors %}
      {% if loop.index === paletteColor %}
        {% set lightenColor = item %}
      {% endif %}
    {% endfor %}
    <meta name="theme-color" content="{{ lightenColor }}">
    {# favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-color-{{ paletteColor }}.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32-color-{{ paletteColor }}.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16-color-{{ paletteColor }}.png">
    <link rel="manifest" href="/site-color-{{ paletteColor }}.webmanifest">
    {# og, twitter, SEO #}
    {% include 'layouts/meta.njk' %}

    {# css #}
    <link rel="stylesheet" href="/css/css-bundle.css">
    {# print css #}
    <link rel="stylesheet" type="text/css" href="/super-styleguide/src/css/print.css" media="print">

    {# critical css #}
    {# capture the CSS content as a Nunjucks variable #}
    {% set css %}
      {% include "super-styleguide/src/css/critical.css" %}
    {% endset %}
    {# feed it through our cssmin filter to minify #}
    <style>
      {{ css | cssmin | safe }}
    </style>

    {# fonts #}
    {% set fontsPath = "https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@400;600&display=swap" %}
    <link rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />

    <link rel="preload"
          as="style"
          href={{ fontsPath }} />

    <link rel="stylesheet"
          href={{ fontsPath }}
          media="print" onload="this.media='all'" />

    <noscript>
      <link rel="stylesheet"
            href={{ fontsPath }} />
    </noscript>
  </head>

  <body>
    <div class="l-wrapper t-palette-color--{{ paletteColor }}">
      {# header #}
      {% include 'layouts/partials/header.njk' %}

      {# base content #}
      {% include './base-content.njk' %}

      {# footer #}
      {% include 'layouts/partials/footer.njk' %}
    </div>

    {% if categoryHome === 'til' %}
      <a href="#" class="s-back-to-top j-back-to-top" title="back to top">
        {% include '../../super-styleguide/src/svg/svgo/arrow-up.svg' %}
      </a>
    {% endif %}

    {# scripts from styleguide #}
    {% if category === 'tutorials' or categoryHome === 'til' %}
    <script defer src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    {% endif %}
    {# JS #}
    <script defer src="/dist/js/bundle.js"></script>
  </body>
</html>
