{# hero #}
<div class="l-spacing-m">
  {% set title = 'blog' %}
  {% include 'layouts/partials/hero.njk' %}

  {% set title = 'today i learned' %}
  {% include 'layouts/partials/hero.njk' %}

  {% set title = 'projects' %}
  {% include 'layouts/partials/hero.njk' %}

  {% set title = 'useful resources' %}
  {% include 'layouts/partials/hero.njk' %}
</div>
