---
layout: layouts/base.njk
---

{% block content %}

  {% if isPageTag %}
    {# filter posts (= exclude projects) by tag #}
    {% set list = collections.posts|filterByTag(tag) %}
  {% else %}
    {# filter all entries by category #}
    {% set list = collections.all|filterByCategory(categoryFilter) %}
  {% endif %}

  {% include '_includes/layouts/partials/cards-grid.njk' %}

{% endblock %}
