---
layout: layouts/base.njk
---

{% block content %}

<main class="l-main">
  {# filters #}
  <div class="l-spacing-m">
    {%- include "_includes/layouts/partials/filters.njk" %}
  </div>
  {# items #}
  <div class="l-spacing-l">
    <div {% if categoryFilter == 'blog' %}class="o-cards-grid"{% endif%}>

      {%- for entry in collections.categories %}
        {% if entry.data.category == categoryFilter %}

          {# card settings #}
          {% if categoryFilter == 'blog' %}
            {% set card = { data: entry.data, modifiers: ['squared-image'], hasImg: true } %}
          {% elif categoryFilter == 'projects' %}
            {% set card = { data: entry.data, modifiers: ['highlight-left'] } %}
          {% elif categoryFilter == 'til' %}
            {% set card = { data: entry.data, modifiers: ['highlight-top'] } %}
          {% elif categoryFilter == 'usefulresources' %}
            {% set card = { data: entry.data, modifiers: ['highlight-left'] } %}
          {% endif %}

          {# card #}
          {% include '_includes/layouts/partials/card.njk' %}
        {% endif %}
      {%- endfor %}
    </div>
  </div>
</main>

{% endblock %}
