{# share #}
{% set ogImage = global.siteUrl + '/img/og-images/default.jpg' %}
{% if mainTag %}
  {% set ogImage = global.siteUrl + '/img/og-images/' + mainTag + '.jpg' %}
{% endif %}

{# SEO #}
<meta name="description" content="{{ abstract or subtitle }}">
<meta name="author" content="Giulia Chiola">

{# og #}
<meta property="og:title" content="{{ title or renderData.title | striptags }}">
<meta property="og:description" content="{{ abstract or subtitle }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ global.siteUrl | url }}">
<meta property="og:image" content="{{ ogImage }}">

{# twitter #}
<meta name="twitter:image" content="{{ ogImage }}">
<meta name="twitter:creator" content="@giulia_chiola">
<meta name="twitter:site" content="@giulia_chiola">
<meta name="twitter:card" content="summary">
