{# social image #}
{# note that social image is copied-pasted also in card.njk and article-section.njk #}
{% set socialImg = '' %}
{% if title|length %}
  {%- set socialImg %}{{ global.siteUrl }}/social-img/{{ title | slug }}.png{% endset-%}
{% endif %}

{# SEO #}
<meta name="description" content="{{ abstract or subtitle }}">
<meta name="author" content="{{ global.authorName }}">
<link rel="canonical" href="https://giuliachiola.dev{{ page.url | url }}" />

{# og #}
<meta property="og:title" content="{{ title or renderData.title | striptags }}">
<meta property="og:description" content="{{ abstract or subtitle }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ global.siteUrl | url }}">
<meta property="og:image" content="{{ socialImg }}" />

{# twitter #}
<meta name="twitter:image" content="{{ socialImg }}" />
<meta name="twitter:creator" content="{{ global.twitterUsername }}">
<meta name="twitter:site" content="{{ global.twitterUsername }}">
<meta name="twitter:card" content="summary_large_image">
