---
layout: layouts/base.njk
hasHero: true
---
<main class="l-main">
  <article class="c-article-section l-spacing-l">
    <h1>{{ title }}</h1>
    <time class="c-article-section__date" datetime="{{ date }}">{{ date }}</time>

    {# tags #}
    {%- for tag in tags %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="c-label">{{ tag }}</a>
    {%- endfor %}

    {# content #}
    {{ content | safe }}
  </article>

  {% if eleventyNavigation.key !== 'about' %}
  <div class="o-distributed o-distributed--center l-spacing-l">
    <a class="c-button" href="#">Take me to another post!</a>
  </div>
  {% endif %}
</main>


