---
layout: layouts/base.njk
---

{% block content %}

{# content #}
<main class="l-main">
  {# filters #}
  <div class="l-spacing-m">
    {%- include "_includes/layouts/partials/filters.njk" %}
  </div>
  <div class="l-spacing-l">
    {%- for entry in collections.categories %}
      {% if entry.data.category == categoryFilter %}
        {% set card = { data: entry.data, modifiers: ['highlight-left'] } %}
        {% include '_includes/layouts/partials/card.njk' %}
      {% endif %}
    {%- endfor %}
    </div>
</main>

{% endblock %}
